{sub_dirs, ["rel"]}.
{cover_enabled, true}.

{erl_opts, [warnings_as_errors,
%%           bin_opt_info,
            {parse_transform, lager_transform},
            {src_dirs, ["src", "priv/tracers"]}]}.

{deps, [
     {riak_core, ".*", {git, "git://github.com/basho/riak_core", {branch, "rdb/exper/bigset"}}},
     {riak_dt, ".*", {git, "git://github.com/basho/riak_dt", {branch, "rdb/delta-orswot-merge-fix"}}},
     {sext, ".*", {git, "git://github.com/basho/sext.git", {tag, "1.1p3"}}},
     {cluster_info, ".*", {git, "git://github.com/basho/cluster_info.git", {tag, "2.0.2"}}},
     {eper, ".*", {git, "git://github.com/massemanet/eper.git", {branch, "master"}}}
]}.
