%%
%% etc/app.config
%%
{ring_state_dir,        "data/ring"}.
{platform_data_dir,     "./data"}.
{platform_log_dir,      "./log"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8098"}.
{handoff_port,          "8099"}.
{bigset_batch_size, 1000}.
%%
%% etc/vm.args
%%
{node,                  "bigset@127.0.0.1"}.
{cookie,                "bigset"}.
